<!DOCTYPE html>
<html>
<head> <!-- www.techstrikers.com -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <meta charset="utf-8">
    <title>Plant List</title>
    <style>
        table, th , td  {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
            background-color:#FFFFFF;
            font-family:arial;
        }
    </style>
    <script>
        // var app = angular.module('app', []);
        // app.controller("appController", function ($scope) {
        //     $scope.employees = [{
        // JS Logic still to be added.
        //     });

    </script>
</head>
<body style="background-color:#DDE4E9;font-family:arial;">
<fieldset style="background-color:#DDE4E9;">
    <legend>Plant List</legend>
    <div ng-app="app">
        <div ng-controller="appController">
            <table>
                <th>Common Name</th><th>Plant Type</th><th>Bloom Time</th>
                <th>Flower Color</th><th>Soil Type</th><th>Habitat Value</th>
                <tr ng-repeat="">
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</fieldset>
</body>
<title>Plant List</title>
<style>
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        background-color:#FFFFFF;
        font-family:arial;
    }
</style>
<script>
    // var app = angular.module('app', []);
    // app.controller("appController", function ($scope) {
    //     $scope.Plants = [{
    // JS Logic still to be added.
    //     },
</script>
</head>
<body style="background-color:#DDE4E9;font-family:arial;">
<fieldset style="background-color:#DDE4E9;">
    <legend>Search By Filter</legend>
    <div ng-app="app">
        <div ng-controller="appController">
            <table>
                <th>Season</th><th>Types</th><th>Location</th>
                <th>Value</th>
                <tr ng-repeat="">
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</fieldset>
</body>
</html>